<div style="margin-top: 100px;">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
      <a class="navbar-brand"  href="#" style="text-transform: uppercase;">Angular crud operation</a>
      
    
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-text" style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
          
        </span>
      </nav></nav></div>
      <div style="margin-bottom: 20px;margin-top: 30px;text-align: center;" >

        <span class="p-input-icon-left mb-2" style="margin-right: 40px;">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            #filter
            (input)="onGlobalFilter(dt1, $event)"
            placeholder="Search Applicants"
            class="w-full"
            icon="pi-search"
          />
          </span>

        <button  style="margin-right: 90px;"
        pButton
        label="Add New Rule"
        class="p-button- mb-2"
        icon="pi pi-plus"
        (click)="create()"
      ></button>


    </div>
    <p-table [value]="bookarray" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" [sortMode]="'multiple'" (sort)="onSort($event)" 
    [paginator]="true" [rows]="10" #dt1 [globalFilterFields]="['title', 'description']">
     
      
        <ng-template pTemplate="header">
        <tr >
    
          <th [pSortableColumn]="'title'">Title
            <p-sortIcon [field]="'title'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'description'">Description
            <p-sortIcon [field]="'description'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'pageCount'">Page Count
            <p-sortIcon [field]="'pageCount'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'publishDate'">Publish Date
            <p-sortIcon [field]="'publishDate'"></p-sortIcon>
          </th>
          <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data >
        <tr >
            <td>
                {{ data.title }}
            </td>
            <td>{{ data.description }}</td>
            <td>{{ data.pageCount }}</td>
            <td>{{ data.publishDate }}</td>
            <td> <button style="margin-right: 30px;"
                pButton
                label="Edit"
                class="p-button- mb-2"
                icon="pi pi-plus"
                (click)="edit(data.id)"

              ></button>
              <button
              pButton
              label="Delete"
              class="p-button- mb-2"
              icon="pi pi-plus"
              (click)="deletedata(data.id)"
            ></button>
        </tr>
    </ng-template>
</p-table>

