

<div class="col-12 main-container " style="margin-top: 100px;">
  <div class="card vi">
    <div>
      <h1 class="book-title mt-4" > Add/Edit Book Details</h1>
    </div>

    <div class="name-container  p-fluid col-12">
      <form [formGroup]="bookform">

        
          
          <div class="col-12 mt-3 vi" >
            <div class=" flex flex col md:col-4 me-3 mb-4 ">
              <label htmlFor="title">Title</label>
              <input type="text" pInputText formControlName="title" [ngClass]="{
                  'ng-invalid ng-dirty': submitted && f['title'].errors
                }"class="p-inputtext-lg">
             
              <div *ngIf="submitted && f['title'].errors" class="error-message error_color">

                Title is required and should not exceed 30 characters.

              </div>
            </div>
  
            <div class="gap-2 flex col md:col-4 me-3">
              <label htmlFor="description">Description</label>
              <textarea rows="5" cols="30" pInputTextarea formControlName="description" [ngClass]="{
                  'ng-invalid ng-dirty': submitted && f['description'].errors
              }"></textarea>
  
              
              <div *ngIf="submitted && f['description'].errors" class="error-message error_color">

                Title is required and should not exceed 50 characters.

              </div>
            </div>
          </div>

         

         
       

        <div class="col-12 ">
          
          
          <div class=" flex col md:col-4 ">
            <label for="pageCount">Page Count</label>
            <p-inputNumber inputId="pagecount" formControlName="pageCount" [ngClass]="{
                'ng-invalid ng-dirty': submitted && f['pageCount'].errors}"> </p-inputNumber>
            
            <div *ngIf="submitted && f['pageCount'].errors" class="error-message error_color">

              Title is required and should be between 10 to 250 characters.

            </div>
          </div>

          <div class=" flex flex col md:col-4  mt-4 ">
            <label htmlFor="excerpt">Excerpt</label>
            <input type="text" pInputText formControlName="excerpt" [ngClass]="{
                'ng-invalid ng-dirty': submitted && f['excerpt'].errors}">
            
            <div *ngIf="submitted && f['excerpt'].errors" class="error-message error_color">

              Title is required and should not exceed 50 characters.

            </div>
          </div>

          <div class=" flex flex col md:col-4  mt-4 ">
            <label htmlFor="publishDate">Publish Date</label>
            <p-calendar formControlName="publishDate" [ngClass]="{
                'ng-invalid ng-dirty': submitted && f['publishDate'].errors
              }" dateFormat="yy-mm-dd'T'HH:MM:ss.l'Z'"></p-calendar>
           
            <div *ngIf="submitted && f['publishDate'].errors" class="error-message error_color">

              Title is required and should not exceed 50 characters.

            </div>
          </div>

         
        </div>

      </form>
    </div>

    <div class="col-12  btn-container" style="margin-top: 50px;margin-left: 30px;">
      <p-button label="Create" styleClass="p-button-raised" class="me-3" (click)="createbook()"
        label={{title_btn_state}}></p-button>
      <p-button label="Cancel" styleClass="p-button-raised p-button-warning" class="me-3" (click)="cancel2()"></p-button>
    </div>

  </div>
</div>







